.footer{
    background: rgb(52, 0, 81);;
    color: white;
    margin: none;
    
  }
  
  .footer a{
    color: white;
    text-decoration: none;
  }
  
  .footer a:hover{
    color: #f5f5f5;
    text-decoration: none;
    cursor: pointer;
  }
  
  .footer p{
   margin-bottom: 0;
  }
  
  .iconsPadding{
    padding-top: 2rem ;
    padding-left: 0;
    
  }